.footer {
  padding-top: 64px;
  &__wrapper {
    ::before {
      content: "";
      width: 986px;
      height: 1px;
      background-color: #ced4da;
      display: block;
      margin-bottom: 13px;
    }
  }
  &__text {
    color: #6c757d;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
  }

  &__select {
    width: 120px;
    height: 38px;
  }

  &__select-wrapper {
    display: flex;
    align-items: center;
  }

  &__select-text {
    color: #000;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    margin-right: 12px;
  }

  &__select-option {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color: #6c757d;
    border-radius: 4px;
    border: 1px solid #ced4da;
    background: #fff;
  }
}
